<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.cart">

	<select id="findCartGoods" resultType="String" parameterType="kr.co.domain.CartDTO">
		select decode(count(*), 0, 'false', 'true') from cart
		where productId = #{productId}
		and userid = #{userid} 
	</select>
	
	<insert id="addGoodsInCart">
		INSERT INTO cart (cartId, userid, productId) 
		VALUES ((SELECT NVL2(MAX(cartId), MAX(cartId)+1, 1) FROM cart), #{userid}, #{productId})
		<selectKey keyProperty="cartId" resultType="integer" order="AFTER">
			SELECT MAX(cartId) FROM cart
		</selectKey>
	</insert>
	
	<select id="getMyCartProductId" resultType="kr.co.domain.CartDTO">
		SELECT * FROM cart WHERE userid = #{userid}
	</select>
	
	<select id="getMyCartList" resultType="kr.co.domain.ProductDTO">
		SELECT * FROM product WHERE productId IN
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item.productId}
		</foreach>
		ORDER BY regDate DESC
	</select>
</mapper>