<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.order">

	<insert id="insert">
		INSERT INTO setOrder (orderId, order_seq_num, productId, productName, price, order_Qty, productDist, selected_Opt, 
		fullname, userid, username, email, tel, useraddress, postcode, deliver_msg, deliver_situ, totalAmount, cal_info)
		VALUES (#{orderId}, order_seq_num.nextval, #{productId}, #{productName}, 
		#{price}, #{order_Qty}, #{productDist}, #{selected_Opt}, #{fullname}, #{userid}, #{username}, 
		#{email}, #{tel}, #{useraddress}, #{postcode}, #{deliver_msg}, #{deliver_situ}, #{totalAmount}, #{cal_info})
		<selectKey resultType="integer" keyProperty="order_seq_num" order="BEFORE">
			SELECT order_seq_num.nextval FROM dual
		</selectKey>
	</insert>
	
	<select id="countOrderId" resultType="integer">
		SELECT NVL2(MAX(orderId), MAX(orderId)+1, 1) FROM setOrder
	</select>
	
	<select id="myOrderList" resultType="kr.co.domain.OrderDTO">
		SELECT * FROM setOrder WHERE userid = #{userid}
	</select>

</mapper>